<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste de notes totot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <div class="item-note" slot="end">
          {{item.txt}}
        </div>
      </ion-item>

      <ion-item-options side="end">
        <button ion-button color="primary" [routerDirection]="forward" [routerLink]="['/note-edit']">
          <ion-icon name="text"></ion-icon>
          Edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
