<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>SampleApp</ion-card-subtitle>
    <ion-card-title>Edition d'une note</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form #form="ngForm" novalidate>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" required [(ngModel)]="note.txt" ngControl="text" name="txt" (change)="updateForm($event)"></ion-input>
      </ion-item>
    </form>
  </ion-card-content>
</ion-card>

</ion-content>
